{%- if site.data.profile.gscholar contains 'scholar.google' -%}
    {%- assign gscholar_url = site.data.profile.gscholar -%}
{%- else -%}
    {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
{%- endif -%}
<div class="profile-sticky">
    <aside class="surface profile-card" aria-label="Profile">
        {%- if site.data.profile.portrait_url -%}
        <img class="portrait"
             src="{{ site.data.profile.portrait_url | relative_url }}"
             alt="Portrait of {{ site.data.profile.primary_name }}"
             data-toggle="tooltip"
             data-placement="bottom"
             title="{{ site.data.profile.portrait_caption | strip }}">
        {%- endif -%}

        <h1 class="profile-name">{{ site.data.profile.primary_name }}</h1>
        {%- if site.data.profile.secondary_name and site.data.profile.secondary_name != "" -%}
        <p class="profile-alt">{{ site.data.profile.secondary_name }}</p>
        {%- endif -%}

        <p class="profile-role">
            {%- for position in site.data.profile.positions -%}
            <span class="d-block{% if forloop.last and forloop.length > 1 %} profile-org{% endif %}">{{ position.name }}</span>
            {%- endfor -%}
        </p>

        <a class="profile-email" href="mailto:{{ site.data.profile.email | encode_email }}">{{ site.data.profile.email | replace: "@", "<wbr>(at)" }}</a>

        <div class="profile-rule" aria-hidden="true"></div>

        <div class="profile-links">
            {% if site.data.profile.gscholar %}<a class="icon-btn" href="{{ gscholar_url }}" target="_blank" rel="noopener" aria-label="Google Scholar" title="Google Scholar"><i class="fa-brands fa-google-scholar"></i></a>{% endif %}
            {% if site.data.profile.github %}<a class="icon-btn" href="https://github.com/{{ site.data.profile.github }}" target="_blank" rel="noopener" aria-label="GitHub" title="GitHub"><i class="fa-brands fa-github"></i></a>{% endif %}
            {% if site.data.profile.wechat_qrcode %}<a class="icon-btn" href="#" data-toggle="modal" data-target="#modal-wechat" aria-label="WeChat" title="WeChat"><i class="fa-brands fa-weixin"></i></a>{% endif %}
            {% if site.data.profile.twitter %}<a class="icon-btn" href="https://x.com/{{ site.data.profile.twitter }}" target="_blank" rel="noopener" aria-label="X (Twitter)" title="X (Twitter)"><i class="fa-brands fa-x-twitter"></i></a>{% endif %}
            {% if site.data.profile.linkedin %}<a class="icon-btn" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}" target="_blank" rel="noopener" aria-label="LinkedIn" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>{% endif %}
            {% if site.data.profile.orcid %}<a class="icon-btn" href="https://orcid.org/{{ site.data.profile.orcid }}" target="_blank" rel="noopener" aria-label="ORCID" title="ORCID"><i class="fa-brands fa-orcid"></i></a>{% endif %}
        </div>
    </aside>
</div>


{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode | relative_url }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
